
#header {
    width: calc(100% - 40px);
    margin: 40px auto 80px;
}

.article {
    width:  calc(100% - 40px);
}

#articles, #about {
    color: #00a89c;
    text-decoration: none;
}

#about a, #about strong {
    font-weight: 700;
}

a, #articles a:visited, #about a:visited {
    color: #00a89c;
/*    text-decoration: none;*/
}

#articles a:hover, #about a:hover {
    color: rgb(255, 25, 65);
    text-decoration: underline;
    text-decoration-color: #00a89c;
}

.name-arabic {
    font-family: 'Aref Ruqaa', serif;
    font-size: 48px;
    text-align: right;
    color: rgb(255, 25, 65);
    text-shadow: 2px 2px 4px rgba(0, 168, 156, .5);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 25, 65, 0.5);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.name-arabic:hover {
    color: #00a89c;
    text-shadow: 2px 2px 4px rgba(255, 25, 65, .5);
}

.article {
    margin: 40px auto;
}

.article-promos {
    display: flex;
    overflow-x: scroll;
    margin-bottom: 10px;
}

.article-promo {
    max-height: 300px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 25, 65, .18);
}

.portrait {
    max-width: 200px;
}

.article-title, #about p {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
}

.article-title a {
    font-weight: 700;
}

.title-info {
    padding-top: 4px;
    display: block;
}


@media screen and (min-width: 600px) {
    #header {
        width: calc(100% - 80px);
        margin: 0 auto 60px;
    }

    .article {
        margin: 40px 40px 60px 20px;
        width:  calc(100% - 60px);
    }
    .article:last-child {
        margin-bottom: 80px;
    }

    .name-arabic {
        font-size: 62px;
        margin: 80px auto 20px auto;
        padding-bottom: 20px;
    }

    .article-title, #about p {
        font-size: 18px;
        line-height: 22px;
    }

    .article-title {
        margin-left: 20px;
    }

    .article-title, #about {
        max-width: 640px;
    }

    .article-promo {
        max-height: 380px;
        margin: 20px 0 20px 20px;
        box-shadow: 0 0 14px rgba(255, 25, 65, .18);
    }

    .portrait {
        max-width: 300px;
    }
}