body {
	font-family: 'Lora', serif;
	color: white;
}

header, section, footer p {
	text-align: center;
}

header h1 {
	background-color: #1D2234;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 700;
}

header nav, footer {
	font-size: 16px;
	font-weight: 700;
	color: #000;
}

a {
	text-decoration: none;
	padding: 10px;
	color: #000;
}

section .first, section .third {
	background-color: #1159E7;
}

section .second {
	background-color: #7890A1;
}

img {
	height: 200px;
}

div {
	margin: 20px 0 30px 0;
	padding: 20px 0;
}

p {
	font-size: 14px;
	padding: 0 20px;
	text-align: left;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 10px;
}