body {
	background: black;
	color: white;
	margin: 16px;
	padding: 16px;
}

p, img {
	border: dotted 2px green;
	margin: 10px;
	padding: 10px;
}

.footer, .about, .header, .locations p {
	text-align: center;
}

.locations ul {
	width: 150px;
	margin: 0 auto;
}

a {
	color: green;
}
