h1 {
    color: #c00;
}

h2 {
    color: orange;
    text-transform: uppercase;
    font-size: 12px;
    font-family: arial, sans-serif;
    text-decoration: underline;
}

body {
    background: black;
    color: white;
}

a {
    color: white;
}