header, nav, .bottom {
    display: flex;
}

header {
	justify-content: space-between;
}

.header-left {
	flex-basis: 150px;
}

nav {
	flex-basis: 400px;
	align-items: center;
	margin: 5px;
}

.nav-section {
	height: 30px;
	flex-grow: 1;
	margin: 5px;
}

.top {
	height: 300px;
}

.left, .middle, .right {
	height: 200px;
	flex-grow: 1;
}
