header, nav, .bottom {
    display: flex;
}

header {
	justify-content: space-between;
}

.header-left {
	width: 20%;
}

nav {
	width: 70%;
	align-items: center;
	margin: 5px;
}

.nav-section {
	height: 50px;
	width: 25%;
	margin: 5px;
}

.top {
	height: 300px;
}

.left, .middle, .right {
	height: 200px;
	width: 33%;
}
