.container-top,
.container-bottom {
    display: flex;
}

.container-top .left,
.container-top .right {
    height: 400px;
}

.container-bottom .left,
.container-bottom .middle,
.container-bottom .right {
    height: 200px;
}

.container-top .left,
.container-top .right {
    flex-grow: 1;
}

.container-bottom .left,
.container-bottom .middle,
.container-bottom .right {
    flex-grow: 1;
}
